/***** NAVBAR *****/
.navbar-default {
  background-color: #61614e;
  border-radius: 0;
  font-family: Helvetica, sans-serif;
  font-variant: small-caps;
  background-image: none;
}

/* Navbar title */
.navbar-default .navbar-brand {
  color: white;
  font-size: 26px;
  font-weight: italic;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffff;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
  color: black;
  font-size: 16px;
}

/* Navbar collapsed styles */
.navbar-header .navbar-toggle {
  color: #fff;
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background-color: #ffff;
  color: ;
}

/*** Portfolio pieces ***/
.portfolio-thumbnail {
 
  
 
  width: 200%;
}
.portfolio-thumbnail2 {
  
  width:100%;
}
.portfolio-thumbnail:hover
.portfolio-thumbnail:blur {
  border-color: #0000;
}

.portfolio-title {
  font-weight:;
}

.portfolio-description {
}

.portfolio-image {
}

#about-world {
  max-height: 200px;
}


.resume h3 {
  font-weight: bold;
}
h7 {
  color: white;
  font-weight: underline;
}
h8 {
  padding: 5%;
  
}
hr {
  border-color: white;
  border-width: 2px;
}

p {
  font-size: 20px;
}

a {
  color: black;
}

a:hover {
  color: black;
}

.jumbotron {
  background-image: url("../assets/green_cup.png");
  
  color: #black;
  padding: 4%;
}

.jumbotron h2 {
  font-size: 36px;
  font-weight: bold;
  padding: 0%;
}

body {
	
  padding-top: 0px;
  font-family: Helvetica, sans-serif;
  background-image: url("../assets/green_cup.png");
  color: #black;
}
